.test:not(:first-of-type) {
	margin-top: 30px;
}

.game {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin: 30px;	
}

.input {
	padding: 20px;
	width: calc(100% - 380px);
	border-left: 4px solid #22f;
	min-height: 200px;
	box-sizing: border-box;
}

.gameInput {
	width: 133px;
	font-size: 18px;
	border: 1px solid #33f;
    background-color: #aaf;
    padding-left: 2px;
    box-sizing: border-box;
}

.input p:not(:last-of-type):not(:first-of-type) {
	margin-left: 30px;
}

.flexGame {
	display: flex;
	justify-content: space-between;
	max-width: 600px;
	min-width: 340px;
	height: 100%;
	background-color: #88f;
	border: 4px dashed #fff;
	box-sizing: border-box;
}

.flexElement {
	width: 40px;
	height: 40px;
	background-color: red;
}

.flexDirectionRow {
	flex-direction: row;
}
.flexDirectionRowReverse {
	flex-direction: row-reverse;
}
.flexDirectionColumn {
	flex-direction: column;
}
.flexDirectionColumnReverse {
	flex-direction: column-reverse;
}

.trueAnswer {
	background-color: green;
}
.falseAnswer {
	background-color: red;
}