.test p:nth-of-type(1) {
	font-style: italic;
}

.game {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin: 30px;	
}

.input {
	padding: 20px;
	width: calc(100% - 380px);
	border-left: 4px solid #22f;
	min-height: 200px;
	box-sizing: border-box;
}

.gameInput {
	width: 133px;
	font-size: 18px;
	border: 1px solid #33f;
    background-color: #aaf;
    padding-left: 2px;
    box-sizing: border-box;
    outline: none;
}

.input p:not(:last-of-type):not(:first-of-type) {
	margin-left: 30px;
}

.flexDirectionRow {
	flex-direction: row;
}
.flexDirectionRowReverse {
	flex-direction: row-reverse;
}
.flexDirectionColumn {
	flex-direction: column;
}
.flexDirectionColumnReverse {
	flex-direction: column-reverse;
}

.flexWrapNowrap {
	flex-wrap: nowrap;
}
.flexWrapWrap {
	flex-wrap: wrap;
}
.flexWrapWrapReverse {
	flex-wrap: wrap-reverse;
}


.trueAnswer {
	background-color: green;
}
.falseAnswer {
	background-color: red;
}